[Unit]
Description=Load Broadcom Bluetooth firmware
#Requires=display-manager.service
After=display-manager.service
[Service]
#Type=dbus
#blkusName=org.bluez
#ExecStartPre=/usr/sbin/rfkill block bluetooth
ExecStartPre=/usr/sbin/rfkill unblock bluetooth
ExecStart=/usr/bin/brcm_patchram_plus1 --enable_hci --no2bytes --use_baudrate_for_download --tosleep 200000 --baudrate 1500000 --patchram /lib/firmware/bcm43438a1.hcd /dev/ttyS1 > /dev/null 2>&1 &
ExecStop=/usr/bin/killall brcm_patchram_plus1
Restart=on-failure
RestartSec=2
StandardOutput=null
[Install]
WantedBy=multi-user.target
